.profile__add-button {
  background: none;
  background-image: url(../../../images/profile-add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0 0 0 244px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.profile__add-button:hover {
  opacity: .8;
}

@media screen and (max-width: 879px) {
  .profile__add-button {
    margin: 0;
  }
}

@media screen and (max-width: 635px) {
  .profile__add-button {
    margin: 36px auto 0 auto;
    width: 100%;
    max-width: 282px;
  }
}